<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!--开启mybatis的标准日志输出-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--开启数据库字段名到Java实体类属性的映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--开启全局懒加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.gdb.main.pojo"/>
    </typeAliases>
    <mappers>
        <!--sql映射⽂件创建好之后，需要将该⽂件路径配置到这⾥-->
        <package name="com.gdb.main.**.*Mapper"/>
    </mappers>
</configuration>